@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yellowtail&display=swap');
@import "tailwindcss";

:root {
  --second-family: "Open Sans", sans-serif;
  --third-family: "Yellowtail", sans-serif;
  --font3: "Inter", sans-serif;
  --main-color: #274c5b;
  --yellow-color: #efd372;
  --green-color: #7eb693;
  --grey-color: #525c60;
}

@theme inline {
  --font-second-family: var(--second-family);
  --font-third-family: var(--third-family);
  --font-font3: var(--font3);
  --color-main: var(--main-color);
  --color-MainYellow: var(--yellow-color);
  --color-MainGreen: var(--green-color);
  --color-MainGrey: var(--grey-color);
}

.container {
  max-width: 1590px;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

body {
  color: var(--main-color);
  font-family: var(--second-family);
  line-height: 1.6;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

